[Unit]
Description=OpenStack Trove guestagent Service
After=syslog.target network.target

[Service]
Type=simple
User=trove
ExecStart=/usr/bin/trove-guestagent --config-file /usr/share/trove/trove-dist.conf --config-file /etc/trove/trove-guestagent.conf --config-file /etc/trove/guest_info
Restart=on-failure

[Install]
WantedBy=multi-user.target

