[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rdo-packagers
	owner = group user/Derek Higgins (derekhiggins)
[access "refs/for/refs/*"]
	read = group user/Derek Higgins (derekhiggins)
	push = group user/Derek Higgins (derekhiggins)
	label-Code-Review = -2..+2 group user/Derek Higgins (derekhiggins)
	label-Verified = -1..+1 group user/Derek Higgins (derekhiggins)
	rebase = group user/Derek Higgins (derekhiggins)
	removeReviewer = group user/Derek Higgins (derekhiggins)
	submit = group user/Derek Higgins (derekhiggins)
[access "refs/heads/*"]
	read = group user/Derek Higgins (derekhiggins)
	create = group user/Derek Higgins (derekhiggins)
	push = +force group user/Derek Higgins (derekhiggins)
	pushMerge = group user/Derek Higgins (derekhiggins)
[access "refs/tags/*"]
	push = +force group user/Derek Higgins (derekhiggins)
	pushTag = group user/Derek Higgins (derekhiggins)
	pushSignedTag = group user/Derek Higgins (derekhiggins)
